<footer>
    <div class="f-info">
        <div class="f-info-social">
            <div class="lang"><i class="fa-solid fa-globe"></i><a href="/lang" class="link-decoration">English(IN)</a></div>
            <div class="rupee"><i class="fa-solid fa-indian-rupee-sign"></i><a href="/rupee" class="link-decoration">INR</a></div>
            <a href="https://www.instagram.com/" class="link-decoration"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.facebook.com/" class="link-decoration"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.linkedin.com/" class="link-decoration"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        
        <div class="f-info-link">
            <div class="f-info-comapany">
                &copy; WanderLust Privete Limited
            </div>
            <div>
                <a href="/term" class="link-decoration">Term</a>&nbsp;&nbsp;.&nbsp;
            <a href="/condition" class="link-decoration">condition</a>&nbsp;&nbsp;.&nbsp;
            <a href="/sitemap" class="link-decoration">Sitemap</a>&nbsp;&nbsp;.&nbsp;
            <a href="/companyDetails" class="link-decoration">Company details</a>
            </div>
        </div>
    </div>
</footer>